.no-content([hidden]="!loading")
  loading-indicator

form((submit)="login()", [hidden]="loading")
  .imgcontainer
    image-svg#logo(src="../assets/go1-logo.svg")

  .container
    h4.text-align-left Login now!
    h5.sub-header.text-align-left.grey6.m-t-10 to start your learning journey

    .group.m-t-25
      label Your Email
      input#email.form-control(type="email", tabindex="0", autofocus, name="email", (keydown)="onInputKeyDown($event)", [(ngModel)]="user.username", placeholder="E-mail", [disabled]="loggingIn")

    .group.m-t-25
      div
        label Your Password
        a.pull-right.small.grey6.m-t-5(routerLink="/membership/forgotPassword" tabindex="1") Forgot it?
      input#password.form-control(type="password", tabindex="1", name="password", (keydown)="onInputKeyDown($event)", [(ngModel)]="user.password", placeholder="Password", [disabled]="loggingIn")

    .group.m-t-25
      button.btn.btn-primary.btn-block#login-btn([disabled]="loggingIn" tabindex="2").
        #[div([hidden]="loggingIn") Log In]
        #[loading-indicator(colorScheme="white", [hidden]="!loggingIn") ]

    div.hr
      hr
      .or-text.grey5 Or continue with

    .social-login-section.row
      .col-6
        button.btn.btn-default.btn-google.btn-block((click)="googleLogin()", tabindex="3", [disabled]="loggingIn") #[.icon] Google
      .col-6
        button.btn.btn-default.btn-facebook.btn-block((click)="facebookLogIn()", tabindex="4", [disabled]="loggingIn") #[.icon] Facebook

    div.sign-up-section
      a(routerLink="/membership/signUp", tabindex="5") Or sign up using email



